.fontMontserratWebfont {
	font-family: 'MontserratWebfont', sans-serif;
}

.fontLobsterV20LatinRegular {
	font-family: 'LobsterV20LatinRegular', sans-serif;
}

.fontNorwester {
	font-family: 'Norwester', sans-serif;
}

.fontOldEnglish {
	font-family: 'OldEnglish', sans-serif;
}

.fontOpenSansBold {
	font-family: 'OpenSansBold', sans-serif;
}

.fontPhilosopherBold {
	font-family: 'PhilosopherBold', sans-serif;
}

.fontRobotoMonoV4LatinRegular {
	font-family: 'RobotoMonoV4LatinRegular', sans-serif;
}
