[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
fastapi = "*"
pandas = "*"
uvicorn = "*"

[dev-packages]
moto = "*"
pytest = "*"
httpx = "*"

[requires]
python_version = "3.9"
